<%- include('dashboardheader')  %> 

      <div class="item item3 main">
        <div class="container book-live-concert"> 
        <% if(msg != '') {%> 
         <h1 style="color: rgb(142, 230, 27);"> <%= msg %> </h1>  
        <% } %> 
                
        <h1>Book Live Concert</h1>
        
        </div>               
      </div> 
        
       
      <%- include('modal') %> 
<%- include('dashboardfooter') %> 