<div class="item item5 footer">
    <button id="taptotopButton">Tap Here to go to Top</button>
    <div class="row">          
        <div class="column column-1">
          <h2>Website</h2>
          
          <ul>
            <li><a href="/dashboardwebsite/#aboutcontent">About</a></li>
            <li><a href="/dashboardwebsite/#servicescontent">Services</a></li>
            <li><a href="/dashboardtemplates">Templates</a></li>
            <li><a href="/dashboardcareer">Career</a></li>
            <li><a href="/dashboardemployees">Employees</a></li>
            
          </ul>
        </div>
        <div class="column column-2">
          <h2>Legal</h2>
         
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Payment Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>              
            <li><a href="#">&#169; 2020 Frontend Webservices</a></li>
          </ul>
        </div>  
      
      
        <div class="column column-3">
          <h2>Contact</h2>
          <ul>
            <li>Toll Free: <a href="tel: +919813806752">0091 9813806752</a></li>
            <li>Email: <a href="mailto: vipinkmboj@gmail.com">vipinkmboj@gmail.com</a></li>
            <li><a href="#" onclick="openContactModal()" >Write a Message</a></li>
          </ul>
        </div>
        <div class="column column-4">
          <h2>Social Media</h2>
          <br/>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
               
      
    </div>  
  </div>
</div>


<script src="/javascripts/script.js"></script>
</body>
</html>
