<%- include('header') %>

<div class="item item3 main">
    <div class="container admin">
        <h1>Welcome to Employees Section</h1> 
        
          <% if(msg != ''){ %>
            <h1><%= msg %></h1>

            
          <% } %> 
                       
    </div>      


  
    
 

</div>
<%- include('modalemployees') %>
<%- include('footer') %>




