      <div class="item item5 footer">
        <button id="taptotopButton">Tap Here to go to Top</button>
        <div class="row">          
            <div class="column column-1">
              <h2>Website</h2>                            
              <ul>
                <li><a href="/#homecontent">Home</a></li>
                <li><a href="/#aboutcontent">About</a></li>
                <li><a href="/#whyuscontent">Why Us</a></li>
                <li><a href="/services">Services</a></li>                
                <li><a href="/gallery">Gallery</a></li>                
              </ul>
            </div>
            <div class="column column-2">
              <h2>Legal</h2>             
              <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Payment Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>              
                <li><a href="#">&#169; 2020 SaReGaMa Music & GMP Studio</a></li>
              </ul>
            </div>  
          
          
            <div class="column column-3">
              <h2>Address & Contact</h2>
              <address>
                <i>SaReGaMa Music Academy</i><br/>
                <strong>City: </strong><i>Yamuna-Nagar</i><br/>
                <strong>State: </strong><i>Haryana</i><br/>
                <strong>Country: </strong><i>India</i><br/>
                Contact: <a href="tel: +917988902573"><i>0091 7988902573</i></a><br/>
                Email: <a href="mailto: .......@gmail.com"><i>........@gmail.com</i></a><br/>
                <a href="#" onclick="openContactModal()" ><i>Write a Message</i></a>
              </address>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="column column-4">
              <h2>Social Media</h2> 
              <br/>
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
            </div>
                   
          
        </div>  
      </div>
    </div>
   

    <script src="/javascripts/script.js"></script>
  </body>
</html>
