<%- include('header') %>

<div class="item item3 main">
    <div class="container admin forgot-password">
        <h1>Forgot Password</h1>
        <br/> 
        <h3 style="color: lightgreen;">
          <% if(msg != ''){ %>
            <%= msg %>
          <% } %> 
        </h3>
        
        
        <br/>
        <form action="/resetpassword" method="post" role="form">
          <label for="email">Please Enter your registered Email</label><br/>
          <input name="email" type="email" placeholder="Enter Email here....."/><br/><br/>
         <button id="send-message" type="submit">Send OTP for Password Reset</button><br/>
         <br/><br/>
         <label>Didn't get an OTP</label> <br/>
         <button id="send-message" type="submit">Resend OTP</button> 
        </form>
        
    </div>
    
      


  
    
 

</div>
<%- include('modal') %>
<%- include('footer') %>




