<%- include('header') %>

<div class="item item3 main">
    <div class="container admin forgot-password">
        <h1>Get Username</h1>
        <br/> 
        <h3 style="color: lightgreen;">
          <% if(msg != ''){ %>
            <%= msg %>
          <% } %> 
        </h3>
        
        
        <br/>
        <form action="/getusername/getusernamebyemail" method="post" role="form">
          <label for="otptofindusername">Please Enter OTP sent to your registered Email</label><br/>
          <input name="otptofindusername" type="otp" placeholder="Enter OTP....."/><br/><br/>          
         <button id="send-message" type="submit">Get Username</button> 
        </form>
        
    </div>
    
      

  <!--Send Message Modal starts here-->
 
  <div class="modal-parent-send-message">
    <div class="modal-send-message">
        <h1 style="text-align: center;">Send Message</h1>        
        <form action="admin/Send" method="post" role="form">
          <label for="messageto">Message To</label>
          <input name="messageto" type="email" placeholder="Enter Recipient's Email..."/>
          <label for="writemessage">Write Message</label><br/>
          <textarea name="writemessage" type="text" placeholder="Enter Your Message here...">

          </textarea><br/><br/>
          <button type="submit">Send Message</button><button type="button" onclick="closeSendMessageModal()">cancel</button><br/><br/>        
        </form>
        <span class="X-send-message" onclick="closeSendMessageModal()">&times;</span>
    </div>
  </div>
  <!--Send Message Modal ends here-->


  
    
 

</div>
<%- include('modal') %> 

<%- include('footer') %>




