<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="music production and music classes">
    <meta name="keywords" content="music, Music, music class, music classes, music production, song recording, cheapest, cheapest classes, cheapest music classes, music website, free music, free song recording, guitar, vocal, tabla, harmonium, piano, music programming, vocal recording, music recording, tuition, best, top ">
    <meta name="author" content="Tarun Gaur">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Font Awesome for icons-->
    <script src='https://kit.fontawesome.com/a076d05399.js' async></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="item item1 header">
        <span onclick="openNav()" class="iconbar">&#9776;</span><a href="#" class="brand-title"><img class="logo-img" src="../images/logogmpstudio.png" /></a>
      
        <div class="headernav">
          <ul>
            <li>
              <a href="/#homecontent" id="home-icon">Home</a>
            </li>
            <li>
              <a href="/#aboutcontent">About</a>
            </li>
            <li>
              <a href="/#whyuscontent">Why Us</a>
            </li>  
            <li>
              <a href="#">Services</a>
              <ul>
                <li><a href="/musicproduction">Music Production<i class='fas fa-music'></i></a></li>
                <li><a href="/vocalclasses">Vocal Classes<i class='fas fa-microphone'></i></a></li>
                <li><a href="/guitarclasses">Guitar Classes<i class='fas fa-guitar'></i></a></li>
                <li><a href="/tablaclasses">Tabla Classes</a></li>
                <li><a href="/pianoclasses">Piano Classes<i class="fas fa-piano"></i></a></li>
                <li><a href="/harmoniumclasses">Harmonium Classes</a></li>
                <li><a href="/bookliveconcert">Book Live Concert</a></li>
                <li><a href="/audiorecordyoursong">Audio Record Your Song</a></li>
                <li><a href="/videoshootyoursong">Video Shoot Your Song</a></li>                
            </ul>
            </li> 
            <li>
              <a href="/gallery">Gallery</a>
            </li>
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>     
            <li>
              <a href="#" onclick="openSignInModal()">Cart</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">Account</a>
              <ul>
                <li>              
                  <a href="#" onclick="openSignInModal()">Log in</a>
                </li>
                <li>
                  <a href="#" onclick="openSignUpModal()">Register</a>
                </li>
              </ul>
            </li>             
          </ul>
        </div>

      
        

      <div class="sidenav-parent">
        <div class="sidenav">
          <span class="logo-image-span">
            <a href="#" class="brand-title"><img class="logo-img" src="images/logogmpstudio.png" /></a>
          </span>
          
          <ul>
            <li>
              <a href="javascript:void(0)" class="closeBtn">&times;</a>
            </li>
            <li>
              <a href="/#homecontent" onclick="closeSideNav()">Home</a>
            </li>
            <li>
              <a href="#" onclick="openSignInModal()">View Cart</a>
            </li>          
            <li>
              <a href="#" onclick="openSignInModal()">Log in</a>
            </li>
            <li>
              <a href="#" onclick="openSignUpModal()">Register</a>
            </li>
            <li>
              <a href="/#aboutcontent" onclick="closeSideNav()">About</a>
            </li>
            <li>
              <a href="/#whyuscontent" onclick="closeSideNav()">Why Us</a>
            </li>  
            <li>
              <a href="/services" >Services</a>              
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>            
            <li>
              <a href="/admin">Admin Staff</a>
            </li> 
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>                     
          </ul> 
                 
        </div>

      </div>
      

    </div>
      
