<!--View Admin Profile Modal starts here from inbox--> 

<div class="modal-parent-view-admin-profile">
    <div class="modal-view-admin-profile">
        <h1 style="text-align: center;">Admin Profile</h1> 
              
        <ul>
             
            <li>
                Username: 
            </li>

            <li>
                First Name: 
            </li>

            <li>
                Last Name: 
            </li>
            <li>
                Mobile Number: 
            </li>

            <li>
                Email Id: 
            </li>

            <li>
                National Id Number & Image: 
            </li>
            
            <li>
                Account Created on: 
            </li>
            
        </ul>
        <a href="#">Edit Profile</a><a href="#" onclick="openConfirmBeforeDeleteModal()">Delete Admin Profile</a>
        
        <span class="X-view-admin-profile" onclick="closeViewAdminProfileModal()">&times;</span>
    </div>
  </div>
 
  <!--View Admin Profile Modal ends here from inbox-->


  <%- include('modal') %>  