<%- include('header')  %> 

      <div class="item item3 main">
        <div class="container music-classes"> 
        <% if(msg != '') {%> 
         <h1 style="color: rgb(142, 230, 27);"> <%= msg %> </h1>  
        <% } %> 
                
        <h1>Music Classes</h1>
        
        </div>               
      </div> 
        
       
      <%- include('modal') %> 
<%- include('footer') %> 