<%- include('header') %>

<div class="item item3 main">
    <div class="container templates">
        <h1>Portfolio Website Templates</h1>        
        <h3>Please checkout the <important><i>Templates</i></important> below, to get the idea about, how <important><i>All Websites</i>, will look like</important>.</h3>
    <br/>    
    <hr/>     
    <p>
      <strong>Please Note: </strong>Templates are just the showcase ideas in the form of website formats, so that customers can select what they want in their own websites. The buttons and other features will fully work only in the real websites.      
    </p>    
    </div> 


    <div class="container templates">          
      <h1>Portfolio Template</h1>
      <br/><br/>
      <img src="images/img_temp_parallax.jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/portfoliotemplatedemo', '_blank')">Demo</button> 
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
  
    </div>
  
    <br/><br/>
  
    <div class="container templates">          
      <h1>CV (Resume) Template</h1>
      <br/><br/>
      <img src="images/img_temp_cv.jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/cvresumetemplatedemo', '_blank')">Demo</button> 
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
  
    </div>
  
    <br/><br/>
  
  
    <div class="container templates">          
      <h1>Photo Portfolio Template</h1>
      <br/><br/>
      <img src="images/img_temp_photo3.jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/photoportfoliotemplatedemo', '_blank')">Demo</button> 
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
  
    </div>
  
    <br/><br/>
  
    <div class="container templates">          
      <h1>Nature Portfolio Template</h1>
      <br/><br/>
      <img src="images/img_temp_portfolio (2).jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/natureportfoliotemplatedemo', '_blank')">Demo</button> 
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
  
    </div>
  
    <br/><br/>
  
    <div class="container templates">          
      <h1>People Portfolio Template</h1>
      <br/><br/>
      <img src="images/img_temp_portfolio2.jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/peopleportfoliotemplatedemo', '_blank')">Demo</button>  
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
 
    </div>
  
    <br/><br/>
  
    <div class="container templates">          
      <h1>People Portfolio II Template</h1>
      <br/><br/>
      <img src="images/peoplePortfolio_2_temp.jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/peopleportfoliotemplatetwodemo', '_blank')">Demo</button>  
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
 
    </div>
  
    <br/><br/>
  
    <div class="container templates">          
      <h1>Dark Portfolio Template</h1>
      <br/><br/>
      <img src="images/darkPortfolio_temp.jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/darkportfoliotemplatedemo', '_blank')">Demo</button>  
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
 
    </div>
  
    <br/><br/>
  
    <div class="container templates">          
      <h1>Black & White Portfolio Template</h1>
      <br/><br/>
      <img src="images/blackAndwhitePortfolio_temp.jpg" width="100%" height="100%"/>
      <br/><br/>          
      <button onclick="window.open('/blackandwhiteportfoliotemplatedemo', '_blank')">Demo</button> 
      <button onclick="openSignInModal()">Build Website Using this Template</button> 
  
    </div>

  
  </div>

  
        
                

  <%- include('modal') %>
  <%- include('footer') %>




