<%- include('header') %> 

<div class="item item3 main">
    <div class="container signout">
        <h1>Signed out Successfully</h1>
        <h2>Thanks for visiting us</h2>
        <h2>See You Again</h2>
    </div>

</div>


<%- include('modal') %> 
<%- include('footer') %> 